body {
    background-color: grey;
    background-image: url("../assets/img/fleurDeLisWallpaper.png");
    background-size: 200px;
}

img {
    max-width: 50%;
    max-height: auto;
    border-radius: 8px;
    border: 4px solid rgb(68, 59, 27)
}

.mansion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}